.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-image {
  width: 95px;
  height: 93px;
  object-fit: cover;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}




@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.blog-post-card1-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card1-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.blog-post-card1-text1 {
  color: var(--dl-color-gray-black);
  text-align: justify;
  font-weight: 400;
  margin-bottom: 32px;
}
.blog-post-card1-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}





@media(max-width: 991px) {
  .blog-post-card1-image {
    height: 350px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 123px;
  height: 27px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link01 {
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link02 {
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image01 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-content-container {
  width: 100%;
  height: 731px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: 13px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.pinimg.com/originals/f4/aa/e7/f4aae740b4a8c43bf1734e48e4acecdf.jpg');
}
.home-hero-text {
  width: 65%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-container02 {
  left: 12px;
  width: 849px;
  bottom: -513px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-text {
  top: -564px;
  left: -77px;
  color: var(--dl-color-gray-700);
  position: absolute;
  text-align: justify;
  background-color: rgba(6, 6, 6, 0.47);
}
.home-text01 {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  font-weight: 700;
  line-height: 2;
}
.home-cta-btn {
  left: 288px;
  color: var(--dl-color-gray-white);
  bottom: -342px;
  position: absolute;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: 75px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
.home-heading {
  top: -228px;
  left: -57px;
  color: var(--dl-color-gray-white);
  width: 939px;
  height: 217px;
  position: absolute;
  font-size: 60px;
  text-align: center;
}
.home-features {
  width: 100%;
  height: 632px;
  display: flex;
  max-width: 1400px;
  padding-top: 48px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-text03 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-container03 {
  width: 1157px;
  height: 485px;
  display: grid;
  grid-gap: 32px;
  border-color: #C11129;
  border-width: 1px;
  grid-template-columns: 1fr 1fr;
}
.home-team {
  width: 100%;
  height: 481px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-heading-container {
  height: 101px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-container04 {
  left: -521px;
  width: 1114px;
  bottom: -157px;
  height: 148px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-text04 {
  top: 36px;
  left: -8px;
  color: var(--dl-color-gray-black);
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.home-text05 {
  top: 56px;
  left: 400px;
  position: absolute;
  font-size: 3em;
  text-align: center;
}
.home-cards-container {
  top: 204px;
  right: -12px;
  width: 100%;
  height: 234px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-team-card {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-avatar-container {
  width: 200px;
  height: 206px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image02 {
  width: 127px;
  height: 114px;
  object-fit: cover;
}
.home-container05 {
  top: 200px;
  right: -4px;
  width: 202px;
  height: 111.5625px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-name {
  top: 11px;
  left: 6px;
  position: absolute;
}
.home-name1 {
  top: 9px;
  right: -206px;
  position: absolute;
  font-size: 25px;
  font-weight: 700;
}
.home-team-card1 {
  left: 536px;
  width: 263px;
  bottom: -29px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: absolute;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}
.home-avatar-container1 {
  top: -168px;
  left: -18px;
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.home-image03 {
  width: 106px;
  height: 111px;
  object-fit: cover;
}
.home-name2 {
  top: 7px;
  left: 16px;
  position: absolute;
}
.home-name3 {
  right: -128px;
  bottom: 20px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}
.home-image04 {
  top: 59px;
  left: 778px;
  width: 106px;
  height: 111px;
  position: absolute;
  object-fit: cover;
}
.home-image05 {
  top: 72px;
  left: 305px;
  width: 106px;
  height: 111px;
  position: absolute;
  object-fit: cover;
}
.home-team-card2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}
.home-avatar-container2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  left: -107px;
  width: 105px;
  bottom: -71px;
  height: 92px;
  position: absolute;
  object-fit: cover;
}
.home-name4 {
  left: -108px;
  bottom: -87px;
  position: absolute;
}
.home-text12 {
  width: 1164px;
  font-size: 1.6rem;
  font-style: normal;
  text-align: justify;
  font-weight: 600;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  padding-top: 28px;
  justify-content: space-between;
}
.home-container06 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.home-container07 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.home-container08 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-our-story {
  width: 100%;
  height: 1169px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-heading-container1 {
  width: 45%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-cards-container1 {
  width: 100%;
  height: 1081px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-left-section {
  width: 50%;
  height: 642px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-video-container {
  width: 513px;
  height: 401px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-image07 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.home-heading1 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link07 {
  text-decoration: none;
}
.home-right-section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-image08 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-content-container2 {
  height: 347px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading2 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text15 {
  font-size: 18px;
  text-align: left;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link08 {
  text-decoration: none;
}
.home-card1 {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-image09 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-content-container3 {
  height: 344px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading3 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text16 {
  font-size: 18px;
  text-align: left;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link09 {
  text-decoration: none;
}
.home-card2 {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-image10 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-content-container4 {
  height: 318px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading4 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container09 {
  top: 112px;
  left: 8px;
  width: 256px;
  height: 83.671875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text17 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-black);
  position: absolute;
  font-size: 18px;
  text-align: left;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-card3 {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-image11 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-content-container5 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading5 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text18 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: left;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-get-in-touch {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-text19 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text20 {
  font-style: normal;
  text-align: justify;
  font-weight: 400;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link10 {
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .home-content-container {
    flex-direction: column-reverse;
  }
  .home-hero-text {
    width: 80%;
  }
  .home-cards-container {
    justify-content: center;
  }
  .home-blog {
    flex-direction: column;
  }
  .home-container06 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .home-container07 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .home-cards-container1 {
    flex-direction: column;
  }
  .home-left-section {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-right-section {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-links-container {
    display: none;
  }
  .home-features {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container03 {
    grid-template-columns: 1fr;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-text12 {
    text-align: center;
  }
  .home-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container1 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-hero-text {
    width: 100%;
  }
  .home-features {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-team {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text05 {
    text-align: center;
  }
  .home-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-our-story {
    padding-top: var(--dl-space-space-fiveunits);
  }
  .home-card {
    width: 100%;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
}
